{% extends "base/base.html" %}

{% block page-top %}

<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Dual Junior</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Sobre</a>
            </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#network">Redes</a>
            </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contato</a>
            </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/restrito">Restrito</a>
            </li>
        </ul>
        </div>
    </div>
</nav>

{% endblock %}

{% block about %}

<!-- About Section -->
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">{{ aboutTitle }}</h2>
                <hr class="divider light my-4">
                <p class="text-white-50 mb-4">
                {{ aboutSubtitle }}
                </p>
                {% if respondido %}
                    <h2 class="text-white mt-0">Agradecemos pela sua sugestão!</h2>
                {% else %}
                <form action="/dados/submit/" method="POST">
                    {% csrf_token %}
                    <!-- Formulário de Feedback -->
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label 
                        text-white mt-0">Email</label>
                        <div class="col-sm-10">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="feedback" class="col-sm-2 col-form-label 
                        text-white mt-0">Opinião</label>
                        <div class="col-sm-10">
                        <textarea class="form-control" name="feedback" 
                        placeholder="Deixe sua Opinião!"></textarea>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0 
                            text-white mt-0">Gostou?</legend>
                            <div class="col-sm-10">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="choice" 
                                    value="y" checked>
                                    <label class="form-check-label text-white mt-0" 
                                    for="gridRadios1"> Sim </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="choice" 
                                    value="n" checked>
                                    <label class="form-check-label text-white mt-0" 
                                    for="gridRadios1"> Não </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-secondary">Enviar</button>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}