{% extends "base/base.html" %}

{% block page-top %}

<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Dual Junior</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Sobre</a>
            </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#network">Redes</a>
            </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contato</a>
            </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/restrito">Restrito</a>
            </li>
        </ul>
        </div>
    </div>
</nav>

{% endblock %}

{% block about %}

<!-- About Section -->
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h2 class="text-white mt-0">{{ aboutTitle }}</h2>
            <hr class="divider light my-4">
            <p class="text-white-50 mb-4">
            {{ aboutSubtitle }}
            </p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="mailto:admfindualjr@gmail.com">Sugestão?</a>
        </div>
        </div>
    </div>
</section>

{% endblock %}