{% extends "base/base.html" %}

{% block services %}

<!-- Services Section -->
<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">Nossos Produtos</h2>
        <hr class="divider my-4">
        <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
            <i class="fas fa-4x fa-gem text-primary mb-4"></i>
            <h3 class="h4 mb-2"><a href="dados/">Dados</a></h3>
            <p class="text-muted mb-0">Organizamos seus dados de uma maneira inteligente para você.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
            <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
            <h3 class="h4 mb-2">Otimização</h3>
            <p class="text-muted mb-0">Melhoramos os processos de sua empresa.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
            <i class="fas fa-4x fa-globe text-primary mb-4"></i>
            <h3 class="h4 mb-2">Inteligencia de Negócios</h3>
            <p class="text-muted mb-0">Apresentação dos Dados de forma inteligente e eficaz.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
            <i class="fas fa-4x fa-upload text-primary mb-4"></i>
            <h3 class="h4 mb-2">Organização de Estoque</h3>
            <p class="text-muted mb-0">
                Se você está tendo problemas com o seu estoque, então está na hora de deixar o compultador
                trabalhar para você. Tenha estoque otimizado e previsível em alguns cliques.
            </p>
            </div>
        </div>
        </div>
    </div>
</section>

{% endblock %}