{% extends "base/base.html" %}

{% block page-top %}

<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Dual Junior</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Sobre</a>
            </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Serviços</a>
            </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#network">Redes</a>
            </li>
            <!--<li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>-->
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contato</a>
            </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/restrito">Restrito</a>
            </li>
        </ul>
        </div>
    </div>
</nav>

{% endblock %}

{% block about %}

<!-- About Section -->
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h2 class="text-white mt-0">{{ aboutTitle }}</h2>
            <hr class="divider light my-4">
            <p class="text-white-50 mb-4">
            {{ aboutSubtitle }}
            </p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Nossos Produtos</a>
        </div>
        </div>
    </div>
</section>

{% endblock %}

{% block services %}

<!-- Services Section -->
<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">Nossos Produtos</h2>
        <hr class="divider my-4">
        <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
            <i class="fas fa-4x fa-gem text-primary mb-4"></i>
            <h3 class="h4 mb-2"><a href="dados/">Dados</a></h3>
            <p class="text-muted mb-0">Organizamos seus dados de uma maneira inteligente para você.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
            <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
            <h3 class="h4 mb-2">Otimização</h3>
            <p class="text-muted mb-0">Melhoramos os processos de sua empresa.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
            <i class="fas fa-4x fa-globe text-primary mb-4"></i>
            <h3 class="h4 mb-2">Inteligencia de Negócios</h3>
            <p class="text-muted mb-0">Apresentação dos Dados de forma inteligente e eficaz.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
            <i class="fas fa-4x fa-upload text-primary mb-4"></i>
            <h3 class="h4 mb-2">Organização de Estoque</h3>
            <p class="text-muted mb-0">
                Se você está tendo problemas com o seu estoque, então está na hora de deixar o compultador
                trabalhar para você. Tenha estoque otimizado e previsível em alguns cliques.
            </p>
            </div>
        </div>
        </div>
    </div>
</section>

{% endblock %}